@charset "UTF-8";



body{
    display: inline-flexbox;
    margin-top: 70px;
    font-family: 'Arial';
}

h1, h2, h3, p,
article,footer, header, main, img, section{
    padding: 20 px;
    margin-top: 5px;
    margin-left: 25%;
    width: 75%; 
    
    display:inline-block
}

h1{

    font-size: 40px;
} 

h2{
    font-size: 30px;
}


ul{
    list-style-type: none;
    padding: 0px; 
    width: 20%;
    overflow: auto;  
    position:absolute; 
    padding-left: 0px; 
}

li{
   display: grid;
    font-size: 25px;
    font-variant: small-caps;
}

a{
    padding: 15px; 
    border: 10px solid rgb(255,255,255);
    border-left: 0px;
    color: #000000;
    text-align: center;
    background-color: rgb(196, 196, 196);
    text-decoration: none;
}

table{
    margin-left: 25%;
    width: 60%;
    display: inline-flex; 
    border-collapse: collapse;
}

table, th, td{
    padding: 8px;
     
}

.table_heading
{
    text-align: center;
}

.Question{
    vertical-align: top;
    text-align: left;
    text-decoration: none;
}


th, td{
    border: 1px solid black; 
}



#Great{
    background-color: rgb(139, 197, 139);
    vertical-align: top;
}

#Mid{
    background-color: rgb(234, 222, 162);
    vertical-align: top;
}

#Bad{
    background-color: rgb(197, 146, 139);
    vertical-align: top;
}

.img{
    size: 20%; 
    padding: 5px; 
}